* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Nav_block {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.Button {
  color: white;
  text-decoration: none;
}

.Button:hover {
  transform: scale(1.3);
  transition: 0.5s;
  color: orange;
}
