{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href={%static 'index.css' %} />
  </head>
  <body>
    <header>
      <nav class="Nav_block">
        <a class="Button" href="/">HOME</a>
        <a class="Button" href="my-feed/">MY FEED</a>
        <a class="Button" href="profile/">PROFILE</a>
        <a class="Button" href="create/">CREATE</a>
        <a class="Button" href="login/">LOGIN</a>
        <a class="Button" href="register/">REGISTER</a>
        <a class="Button" href="topics/">TOPICS</a>
        <a class="Button" href="set-password/">SET PASSWORD</a>
        <a class="Button" href="topics/topics_id">TOPICS ID</a>
        <a class="Button" href="article_id">ARTICLE ID</a>
        <a class="Button" href="article_id/update">ARTICLE ID UPDATE</a>
        <a class="Button" href="year/month">YEAR MONTH</a>
      </nav>
    </header>
  </body>
</html>
